<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card text-white bg-info py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h1>eDoc un projet qui déchire tout !!</h1>
                </div>
              </div>
            </div>
            <div class="card p-4">
              <div class="card-body">
                <form id="login-form" name="form" class="form" action="" method="post" novalidate #f="ngForm"
                  (ngSubmit)="f.form.valid && onSubmit()">
                  <!--   <form id="login-form" name="form" #f="ngForm" class="form" action="" method="post" novalidate
            *ngIf="!edIn" (ngSubmit)="f.form.valid && onSubmit()"> -->
                  <h1>Authentification</h1> 
                  <p class="text-muted">Connectez-vous à votre compte</p>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" name="username" id="username" class="form-control"
                      placeholder="Nom d'utilisateur" autocomplete="username" required minlength="3" maxlength="20"
                      [(ngModel)]="form.username" #username="ngModel">
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input name="password" id="password" type="password" class="form-control" placeholder="Mot de passe"
                      autocomplete="current-password" required [(ngModel)]="form.password" minlength="6"
                      #password="ngModel">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button class="btn btn-info px-6" [disabled]="!f.form.valid">Se connecter</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>